@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products";
    // bool za proverka ima tuka isAdmin
}

<h2>Products</h2>
<div class="ModificationButtons">
    @if (User.IsInRole("admin"))
    {
        <a asp-controller="Products" asp-action="AddProduct"><input type="button" class="btn btn-primary" value="++Add Product" /></a>
        <a asp-controller="Products" asp-action="ModifyProduct"><input type="button" class="btn btn-primary" value="Modify Products List" /></a>
        
    }
</div>
<div class="products">

    @foreach (var product in Model)
    {
    <div class="thumbnail">
        <img class="product-image" src="https://img-a.udemycdn.com/course/750x422/147028_d030_9.jpg" />

        <h3>@product.Id</h3>
        <h3>@product.Name</h3>
        <h3>@product.Price $</h3>
        <h3>Category: @product.Category</h3>
        <h4>@product.Description</h4>
        <a asp-controller="Orders" asp-action="AddToCart" asp-route-id=@product.Id><input type="button" class="btn btn-primary" value="Add to Cart" /></a>
        
    </div>
    }
</div>

<style>

    .thumbnail {
        display: flex;
        flex-direction: column;
        flex: 3;
        align-items: center;
    }

    .caption {
        display: flex;
        flex-direction: column;
        flex: 3;
        text-align: center;
    }

    img {
        margin: 30px;
        display: flex;
        flex: 4;
    }

    .ModificationButtons{
        display:flex;
        flex-direction: row;
        margin: 10px;
        flex-wrap: wrap;
    }

    .ModificationButtons a {
        margin: 5px;
    }


    button {
        display: flex;
        margin: 2px;
        padding: 10px;
    }
</style>

