@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products";
    // bool za proverka ima tuka isAdmin
}

<h2>Products</h2>
<div class="ModificationButtons">
    @if (User.IsInRole("admin"))
    {
        <a asp-controller="Products" asp-action="AddProduct"><input type="button" class="btn btn-primary" value="++Add Product" /></a>
        <a asp-controller="Products" asp-action="ModifyProduct"><input type="button" class="btn btn-primary" value="Modify Products List" /></a>
        
    }
</div>
<div class="allProducts">
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <!-- BEGIN PRODUCTS -->
                <div class="col-md-3 col-sm-6">
                    <span class="thumbnail">
                        @if (product.PhotoPath != null)
                        {
                            <img class="image" src="~/images/products/@product.PhotoPath" alt="@product.Name" asp-append-version="true" width="200" height="200">
                        }
                        else
                        {
                            <img class="image" src="https://img-a.udemycdn.com/course/750x422/147028_d030_9.jpg" alt="..." width="200" height="200">
                        } 
                        <h3>@product.Name</h3>
                        <h4>Category: @product.Category</h4>
                        <h5>@product.Quantity left</h5>
                        <p id="textDescription">@product.Description </p>
                        <hr class="line">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <p class="price">$@product.Price</p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                @if (User.IsInRole("customer"))
                                {
                                    <a class="btn btn-success" asp-controller="Orders" asp-action="AddToCart" asp-route-productId="@product.ProductId">Add to cart</a>
                                }

                            </div>

                        </div>
                    </span>
                </div>

            }
        </div>
    </div>


    

</div>



<style>


    h4{
    	font-weight: 600;
	}
	p{
		font-size: 16px;
		margin-top: 5px;
	}
	.price{
		font-size: 25px;
    	margin: 0 auto;
    	color: #333;
	}
	.right{
		float:right;
		border-bottom: 2px solid #4B8E4B;
	}
	.thumbnail{
		opacity:0.90;
		-webkit-transition: all 0.5s; 
		transition: all 0.5s;
	}
	.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0px 0px 10px #4bc6ff;
	}
	.line{
		margin-bottom: 5px;
	}

    

	@@media screen and (max-width: 770px) {
		.right{
			float:left;
			width: 100%;
		}
	}


</style>

